
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
.idea/
.vscode/
*.pyc
*.swp
*.DS_Store
*.sqlite3
Tutor_system_group4/db.sqlite3
Tutor_system_group4/media/avatar
Tutor_system_group4/*/migrations/