<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    课程管理
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <div class="container">
        <div class="justify-content-center d-md-flex m-auto" style="height: 200px">
            <div class="justify-content-center d-md-flex m-auto">
                <h4>
                    Hello,World!
                </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="nav col-md nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
               aria-controls="v-pills-home" aria-selected="true">待同意课程</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">已匹配课程</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
               aria-controls="v-pills-messages" aria-selected="false">课程评论</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="{% url "Course:increase_course" %}"
               role="tab" aria-selected="false">添加课程</a>
        </div>
    </div>
    <div class="container">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="row">


                    {% for course in course_unmatched %}
                        <div class="card col-md-4 ">
                            <div class="card-body">

                                <h4 class="card-title">课程名称：{{ course.nick_name }}</h4>
                                <p class="card-text">
                                    课程年级：{{ course.get_grade_course_display }}<br>课程科目：{{ course.get_subject_display }}
                                </p>
                                <p class="card-text">课程介绍：{{ course.introduction }}</p>
                                <p class="card-text text-primary">正在申请的学生：</p>

                                <form action="{% url 'Course:agree_match' course.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="btn-group-vertical" data-toggle="buttons">

                                        {% for student in course.student_applied.all %}
                                            <label class="btn btn-light">
                                                <input type="radio" name="choice" autocomplete="off"
                                                       value="{{ student.id }}">{{ student.name }}<a>--</a>
                                                <a class="bg-light text-dark" style="text-decoration: none"
                                                   href="{% url 'User_Profile:student_profile_update' student.student_user_id %}">学生信息</a>
                                            </label>
                                            <!--      <input type="radio" name="choice" class="custom-control-input" id="{{ student.id }}" value="{{ student.id }}">
                                            <label class="custom-control-label" for="{{ student.id }}">{{ student.name }}</label>
                                <div class="custom-radio custom-control"></div>                    <a  href="{% url "User_Profile:student_profile_update" student.id %}">学生信息</a>
                    -->
                                        {% endfor %}
                                    </div>
                                    <button class="btn btn-block btn-lg btn-primary" type="submit">select</button>
                                </form>
                            </div>
                        <a class="card-link" href="{% url 'Course:detail_course' course.id %}">详细信息</a>
                        </div>
                    {% endfor %}

                </div>
            </div>

            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="row">
                    {% for course in course_match %}
                        <div class="card col-md-4 mb-2">
                            <h4 class="card-title">{{ course.nick_name }}</h4>
                            <div class="card-text"><p>{{ course.introduction }}</p></div>
                            <a class="card-link" href="{% url "Course:detail_course" course.id %}">课程详细信息</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="row ">
                    {% for course in course_match %}
                        {% if course.comment %}
                        <div class="card col-md-12 mb-2">
                            <div class="card-header">
                            对{{ course.nick_name }}的评论
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>{{ course.comment }}</p>
                                    <footer class="blockquote-footer">{{ course.student_agreed }}<!--<cite title="Source Title">Source Title</cite>--></footer>
                                </blockquote>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

{% endblock content %}