{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    注册
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <div class="container mt-3">
        <div class="row">

            <!-- 需要补充的页面内容  值得注意的是 m-auto是使居中的标签 p-md 是flex浮动的外边距 mb-3是跟下一个的距离 justify-是子元素的排布-->
            <div class="col-md-7 container m-auto" >
                <div class="d-md-flex justify-content-center  bg-light p-md-3 mb-3 " >

                    <div class="p-2"><!-- p-* 是这个元素的边框大小 -->
                        <h3>Hello,World!</h3>
                    </div>

                </div>
                <div class="d-md-flex justify-content-center  bg-light p-md-3 " >

                    <div class="p-2">
                        <h3>Hello,World!</h3>
                    </div>

                </div>
            </div>

            <div class="container col-md-5">
               <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group col-md">
                    <label for="id_username">用户名</label>
                    <input type="text" class="form-control" id="id_username" name="username" required>
                </div>
                            <!-- 邮箱 -->
                <div class="form-group col-md">
                    <label for="id_email">Email</label>
                    <input type="text" class="form-control" id="id_email" name="email">
                </div>
                <!-- 密码 -->
                <div class="form-group col-md">
                    <label for="id_password1">设置密码</label>
                    <input type="password" class="form-control" id="id_password1" name="password1" required>
                </div>
                <!-- 确认密码 -->
                <div class="form-group col-md">
                    <label for="id_password2">确认密码</label>
                    <input type="password" class="form-control" id="id_password2" name="password2" required>
                </div>
                <div class="form-group col-md">
                    <label for="id_phone">手机号</label>
                    <input type="text" class="form-control" id="id_phone" name="phone" required>
                </div>
                <div class="form-group col-md">
                    <label for="id_user_attribute">属性</label>
                    <select class="form-control" id="id_user_attribute" name="user_attribute" >
                        <option value="0">教员</option>
                        <option value="1">学生</option>
                    </select>
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary">提交</button> 
               </form>
            </div>
        </div>
    </div>
{% endblock %}
