{% extends "base.html" %}
{% load static %}

{% block title %} 学生信息修改 {% endblock title %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<br>
			<div class="col-md-4">学生姓名：{{student_profile.name}}</div>
			<br>
			<form method="post" action=".">
				{% csrf_token %}
				<div class="form-group col-md-4">
					<label for="age">年龄</label>
					<input type="int" class="form-control" id="age" name="age" value="{{ profile.age }}">
				</div>

				<div class="form-group col-md-4">
					<label for="gender">性别</label>
					<input type="text" class="form-control" id="gender" name="gender" value="{{ profile.gender }}">
				</div>

				<div class="form-group col-md-4">
					<label for="grade">年级</label>
					<input type="text" class="form-control" id="grade" name="grade" value="{{ profile.grade }}">
				</div>

				<button type="submit" class="btn btn-primary">提交</button>
			</form>
		</div>
	</div>
</div>
{% endblock content %}