{% extends "base.html" %}
{% load static %}

{% block title %} 教师信息修改 {% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <div class="col-md-4">教师姓名：{{ request.user.username }}</div>
                <br>
                <form method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group col-md-4">
                        <label for="age">年龄</label>
                        <input type="text" class="form-control" id="age" name="age"
                               value="{{ request.user.teacher_profile.age }}">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="gender">性别</label>
                        <select class="form-control" id="gender" name="gender">
                            <option value="M">男</option>
                            <option value="F">女</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                    <label for="grade">年级</label>
                    <select class="form-control" id="grade" name="grade">
                        <option value="0">大一</option>
                        <option value="1">大二</option>
                        <option value="2">大三</option>
                        <option value="3">大四</option>
                        <option value="4">研一</option>
                        <option value="5">研二</option>
                        <option value="6">研三</option>
                        <option value="7">其他</option>
                    </select>

                </div>

                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}