{% extends "base.html" %}
{% load static %}

{% block title %} 教师信息修改 {% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                {% if request.user.teacher_profile.avatar %}
                    <div class="col-md-4">头像</div>
                    <img src="{{ request.user.teacher_profile.avatar.url }}" style="max-width: 20%; border-radius: 15%;"
                         class="col-md-4">
                {% else %}
                    <h5 class="col-md-4">暂无头像</h5>
                {% endif %}
                <br>
                <br>
                <form ... enctype="multipart/form-data">{% csrf_token %}
                    <!-- avatar -->
                    <div class="form-group">
                        <label for="avatar">上传头像</label>
                        <input type="file" class="form-control-file" name="avatar" id="avatar">
                    </div>
                    <div class="col-md-4">教师姓名：{{ request.user.username }}</div>
                    <br>
                    <form method="post" action=".">
                        {% csrf_token %}
                        <div class="form-group col-md-4">
                            <label for="age">年龄</label>
                            <input type="text" class="form-control" id="age" name="age"
                                   value="{{ request.user.teacher_profile.age }}">
                        </div>

                        <div class="form-group col-md-4">
                        <label for="gender">性别</label>
                        <select class="form-control" id="gender" name="gender">
                            {% if request.user.teacher_profile.gender == 'M' %}
                                <option value="M" selected>男</option>
                                <option value="F">女</option>
                            {% else %}
                                <option value="M">男</option>
                                <option value="F" selected>女</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="grade">年级</label>
                        <select class="form-control" id="grade" name="grade">
                            <!-- 根据当前用户的年级来规定下拉菜单预设值 -->
                            <script language="javascript">
                                const grades = ["大一", "大二", "大三", "大四", "研一", "研二", "研三", "其他"];
                                for (var i = 0; i < 8; i++) {
                                    var g = {{ request.user.teacher_profile.grade }};
                                    // ===代表数值和类型都相同 pycharm的建议 我并不懂
                                    if (i === g) {
                                        // 写入html输出
                                        document.write("<option value=\"" + i + "\" selected>" + grades[i] + "</option>");
                                    } else document.write("<option value=\"" + i + "\" >" + grades[i] + "</option>");
                                }
                            </script>
                        </select>

                    </div>

                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}