{% load static %}
<!-- Footer -->
    <div>
        <br><br><br>
    </div>
    <footer class="py-1 bg-dark">
        <div class="text-center">
            <p><h5 class="text-white">友情链接</h5></p>
        <ul class="list-inline">
            <li><a href="https://jwc.sjtu.edu.cn" target="_blank" style="text-decoration: none">上海交通大学本科教学信息网</a></li>
            <li><a href="https://lib.sjtu.edu.cn" target="_blank" style="text-decoration: none">上海交通大学图书馆</a></li>
            <li><a href="https://oc.sjtu.edu.cn" target="_blank" style="text-decoration: none">上海交通大学在线教学平台</a></li>
        </ul>


    </div>
        <div class="container">
            <span><p class="m-0 text-center text-white">Group4 奥利给！<a href="https://github.com/ctr-226/Group4" target="_blank" class="text-primary" style="text-decoration: none">github地址</a></p>
            </span>
        </div>
      <br>
    </footer>
