<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
<div class="container-fluid">
	<div class="row">
			<!--中等屏幕占4份,小屏占6份,超小占12份-->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<img src="../static/image/logo.jpg" alt="上海交大logo" style="width:200px"/>
				</div>
			<div class="col-md-4 col-sm-6 col-xs-12 " style="margin-top: 20px;">
				<a href="">筛选课程</a>
				<a href="">关于我们</a>
				<a href="">喜报中心</a>
				<a href="">热门课程</a>
			</div>
            <div class="clearfix"></div>

		<!--3.轮播图(扣过来)-->
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- 控制圆点 -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		  <!-- 控制图片 -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <img src="../static/image/door.jpg" alt="图片加载中">
		      <div class="carousel-caption">
		     		 图片1
		      </div>
		    </div>
		    <div class="item">
		      <img src="../static/image/one.jpg" alt="图片加载中">
		      <div class="carousel-caption">
		  	 		图片2
		      </div>
		    </div>
		    <div class="item">
		      <img src="../static/image/two.jpg" alt="图片加载中">
		      <div class="carousel-caption">
		  	      	图片3
		      </div>
		    </div>
		  </div>

		  <!-- 控制左右箭头 -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>

			</div>
	</div>

<script>
	$(function () {
		$(window).on('resize', function () {
			let clickWidth = $(window).width();
			let isBigImg = clickWidth >= 500;
			let $allItems = $("#ty-banner .item");
			$allItems.each(function (index, item) {
				let src = isBigImg ? $(item).data("lg-mg") : $(item).data("sm-mg");
				let imgUrl = "url('" + src + "')";

				$(item).css({
					background: imgUrl
				});

				if (!isBigImg) {
					let $img = "<img src='" + src + "'>";
					$(item).empty().append($img);
				} else {
					$(item).empty();
				}
			});
		});
	});

</script>

{% endblock content %}
